<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.RequestMapper">
    <resultMap type='Request' id='RequestResult'>
        <id property='Solicitud' column='id'/>
        <result property='Cedula' column='User_Id'/> 
           
        <association property="Cedula" javaType="User" columnPrefix="us" resultMap='UserResult'></association>      
        <collection property='respuestas' ofType='Comentario' columnPrefix="cm_" resultMap='ComentarioResult'></collection>
    </resultMap>
    
    
    <select id="getRequests" resultMap="RequestResult">
        select rq.id, rq.User_Id, rq.Date, rq.Commentary,rq.State 
        us.id, us.FirstName, us.LastName, us.Email,us.Phone,us.Cellphone,us.Program_Id,us.YearGraduate,us.BirthDate,us.Period
        from Request as rq
        LEFT JOIN User as us ON rq.User_Id=us.id
        WHERE rq.State='E' 
    </select>
    
    <select id="getRequest" resultMap="RequestResult" parameterType="map">
        select rq.id, rq.User_Id, rq.Date, rq.Commentary,rq.State 
        us.id, us.FirstName, us.LastName, us.Email,us.Phone,us.Cellphone,us.Program_Id,us.YearGraduate,us.BirthDate,us.Period
        from Request as rq
        LEFT JOIN User as us ON rq.User_Id=us.id
        WHERE rq.State='E' AND rq.User_Id=#{idUser}
    </select>

    <insert id="saveRequest" parameterType="map">
        INSERT INTO Request  (id, User_Id, Date, Commentary,State ) 
        VALUES ( #{Request.id},#{Request.User_Id},#{Request.Date},#{Request.Commentary},#{Request.State};   
    </insert>
    
    
    <insert id="saveUser" parameterType="map">
        INSERT INTO User (id, FirstName, LastName, Email,Phone,Cellphone,Program_Id,YearGraduate,BirthDate,Period ) 
        VALUES ( #{User.id},#{User.FirstName},#{User.LastName},#{User.Email},#{User.Phone},#{User.Cellphone},
                #{User.Program_Id},#{User.YearGraduate},#{User.BirthDate},#{User.Period});   
    </insert>
  	
</mapper>