<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>                
    </settings>
    <typeAliases>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Account' alias='Account'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Agreement' alias='Agreement'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Benefit' alias='Benefit'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Graduate' alias='Graduate'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Membership' alias='Membership'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Program' alias='Program'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Rate' alias='Rate'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Request' alias='Request'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.Student' alias='Student'/>
        <typeAlias type='edu.eci.pdsw.aeci.entities.User' alias='User'/>
    </typeAliases>    
    
        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/pdswg101" />
                <property name="username" value="pdswgr1" />
                <property name="password" value="pdswg101" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/AccountMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>